table {
  border-spacing: 0;
  width: 100%;
}

table th {
  color: white;
  border: 1px solid black;
  background-color: black;
  text-align: start;
  padding-left: 10px;
}

table th:first-child {
  border-top-left-radius: 10px;
  border: 1px solid black;
}

table th:last-child {
  border-top-right-radius: 10px;
  border: 1px solid black;
}

table td {
  padding-left: 15px;
  border: 1px solid black;
}

.kpi-green {
  background-color: rgba(17, 146, 3, 0.246);
}

.kpi-red {
  background-color: rgba(255, 0, 0, 0.246);
}

.kpi-yellow {
  background-color: rgba(255, 255, 0, 0.246);
}

.kpi-table-container {
  padding-top: 20px;
}

.Categories {
  font-weight: bolder;
}

.kpi-outcome {
  font-size: smaller;
}

.kpi-value {
  text-align: center;
  width: 100px;
}

.kpi-value-header {
  text-align: center;
}

